/* Ace Haidrey. */

/* Multiple Page Attributes */
html, body {
	position: relative;
	height: 100%;
	width: 100%;
	font-size: 14px;
	line-height: 1.5;
	background-color: rgb(224, 224, 209);
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;

}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

.about, .skills, .projects {
	min-height: 100%;
	background-color: white;
}

#me, #experiences, .container, #passions, #contact {
	padding: 40px 180px;
}

#me h2, #experiences h2, .skills h2, #passions h2, #contact h2, #projects h2 {
	color: #00B88A;
	display: block;
	font-size: 50px;
	font-weight: 300;
	text-align: center;
}

#me hr, #experiences hr, .skills hr, #passions hr, #contact hr, #main {
	background-color: #00B88A;
	width: 50%;
	height: 2px; 
	border: 0;
	opacity: 0.5;
	margin-bottom: 40px;
}

#me h3, #experiences h3 {
	color: #00B88A;
	font-size: 30px;
	font-weight: 300;
	text-align: left;
}



/* Navbar Attributes */
.navbar-right {
	margin-right: 2%;
}

nav li a {
	color: white;
}

.nav > .active > a  {
       background-color: rgba(0, 184, 138, 1) !important;
}

.nav.navbar-nav li a {
    color: white;
}

.nav.navbar-nav li a:hover {
    color: #00B88A;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF; 
}

ul.nav.navbar-nav.navbar-right a, ul.nav.navbar-nav.navbar-right a:visited {
	color: #FFFFFF;
} 

ul.nav.navbar-nav.navbar-right a:hover {
	color: rgba(0, 184, 138, 1);
}

nav {
	background-color: black !important;
	border-color: black !important;
}

nav li {
	font-size: 16px;
	color: white;
}



/* Home Page Attributes */
#continue {
	position: absolute;
	bottom: 0px;
	text-align: center;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#continue p {
	font-size: 16px;
}

.glyphicon-menu-down {
	font-size: 60px;
	color: black;
}

.jumbotron {
	background: no-repeat center right fixed url(../img/bg.jpeg); 
	background-size: cover;
	min-height: 100%;
}

.jumbotron .container {
	text-align: center;
	margin-top: 5%;
	z-index: 2;
}

.jumbotron .container p {
	color: #00251C;
	font-weight: bold;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	letter-spacing: 1.5px;
}


.jumbotron .container h1 {
	color: #00251C;
	font-size: 60px;
	letter-spacing: 2px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.jumbotron .container hr {
	width: 100%;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

#home, .about {
	margin-bottom: 0;
}



/* About Attributes*/
#italics {
	text-align: center;
}
.about .col-md-4 img {
	margin-top: 50%;
	margin-left: -10%;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	border-width: 10px; 
	border: 7px solid rgb(224, 224, 209);
}

.col-md-4 p {
	font-size: 15px;
	text-align: left;
}

#info {
	font-size: 16px;
}



/* Experiences Attributes*/
.edu, .career {
	margin-bottom: 20px;
	text-align: left;
}

.edu h4, .career h4 {
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 18px;
	text-align: left;
}

.degree {
	display: block;
	padding-top: 10px;
	font-size: 16px;
}

#experiences h5 {
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 10px;
}

ul > li {
    color: #00B88A;
}
ul > li > span {
    color: black;
}

.skills ul > li {
    padding: 3px 0px;
}

.f {
	color: #00B88A;
	font-size: 14px;
}

.e {
	color: #bcbcbc;
	font-size: 14px;
}

#skills ul > li:hover .skill-stars .glyphicon { 
	margin-left: 2px; 
} 

.skill-title {
	font-size: 16px;
}

.skills ul > li:hover {
	background-color: #f1f1f1;
}



/* Interests Attributes */
.interests h3 {
	color: #00B88A;
	margin-bottom: 10px;
	font-size: 20px;
	text-align: left;
}

.interests img {
	margin-top: 20%;
	width: 150px;
	height: 150px;
}

#passions a, #asterick, .career a, .about a {
	color: #00B88A;
}

.bball img {
	margin-top: 15%;
	width: 200px;
	height: 200px;
}



/* Projects Attributes */
.projects .row div {
	margin-bottom: 20px;
}

.projects figure {
	position: relative;
	overflow: hidden;
	color: white;
}

.projects img {
	width: 100%;
	height: 202px;
	border: 1px solid #00B88A;
}

.projects h4 {
	color: white;
	padding: 5px;
	margin-top: 0px;
	font-weight: 600;
}

figcaption {
	background-color: rgba(0, 184, 138, 1);
}

.overlay {
	display: none;
	background-color: rgba(0, 184, 138, 0.5);
	padding: 20px 30px;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 202px;
	width: 100%;
	margin-bottom: 0px;
}

.project:hover div {
	display: block;
	cursor: pointer;
}

/*.projicon:hover {
	border: 2px solid white;
}*/

.projects figure .projicon {
	background-color: rgba(0, 184, 138, 0.8);
	opacity: 1;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 48px;
	height: 48px;
	display: inline-block;
}

.projects p {
	margin-top: 40px;
	font-weight: 600;
}

.projicon span {
	z-index: 10;
	font-size: 18px;
	line-height: 18px;
	padding: 15px;
	cursor: pointer;
}

.glyphicon-resize-full {
	color: white;
}



/* Contact Attributes */
#contact a {
	display: block;
	line-height: 32px;
	margin-bottom: 20px;
	color: black;
	font-size: 16px;
}

.icon {
	display: inline-block;
	float: left;
	margin-right: 20px;
}

#contact li:hover {
	-webkit-transform: scale(1.1);
}

#labels {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	margin-right: 20px;
}

textarea {
	max-width: 210px;
}

button {
	margin-left: 20px;
	width: 100px;
}

footer p {
	text-align: center;
	padding-top: 12px;
}

footer {
	background-color: white;
	position: absolute;
	bottom: 0px;
	height: 50px;
	width: 100%;
}

footer a {
	color: rgba(0, 184, 138, 1);
}

.contact {
	min-height: 100%;
	position: relative;
}

.form-control:focus {
  box-shadow: 0 0 3px rgba(0, 184, 138, 1);
  border: 1px solid rgba(0, 184, 138, 1);
}

#contact button:hover {
	color: white !important;
	background-color: rgba(0, 184, 138, 0.8) !important;
}



/* Modal Attributes */

.modal {
	color: white;
	top: 20%;
}
.modal-content {
	background-color: rgba(0, 184, 138, 1); /* or should I make it black: (0,0,0,0.75)*/
}

.modal-header .close {
	color: white;
	opacity: 1;
	margin-top: 3px;
	margin-right: -30px;
	font-size: 24px;
}

.close:hover {
	color: white;
	opacity: 0.5;
}

.modal p a {
	color: white;
}

.modal-header h3 {
	font-weight: 600;
}




/*Mailer Stuff -- Currently Mailer not working*/
.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
